body{
font-family: 'Titillium Web', sans-serif;
}
p{
    font-size: 20px;
    
}
.link{
    text-decoration: none;
    border-radius: 30px;
    background-image: linear-gradient(tomato ,orange);
    padding: 20px 30px;
    text-align: center;
    color: white;
    margin-top: 50px;
    display: inline-block;
}
span{
    color: orange;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.food{
    display: flex;
    margin-left: 5%;
}
.image1 {
    border-radius: 40%;
}
.diet{
    margin-top: 100px;
}
.about-me{
display: flex;
margin-top: 80px;
background-image: url(back.jpg);



}
.introduction{
    text-align: center;
    margin: 10%;
    
}
.demo{
    font-size: 30px;
}
.title{
display: flex;
margin-left: 5%;

}
.recipie{
width: 25%;
height: 40%;
margin-right: 5%;
margin-left: 5%;
display: flex;



}
.information{
 border-radius: 30px;
margin-right: 10%;
margin-left: 10%;
box-shadow: 10px 10px gray;

 
 

}


.media{
    display:flex;
   
}
.youtube{
    margin: 10%;
   }
.instragram{
    margin: 10%;
}
.facebook{
margin:10%
}
.recipie1 p{
    font-size: 20px;
}
.footer{
background-color: black;
display: 300px 400px;
text-align: center;
margin-left: 0;
color: white;
padding: 20px;


}
.off{
    display: inline-block;
    border-radius: 40px;
    background-image: linear-gradient(red, orange);
    border-width: 40px;
    margin : 50px 50px 100px 300px;
    border-style: double black;
    padding: 50px;
    
}